@font-face {
    font-family: "p22Underground";
    src: url(font/P22UndergroundCYProMedium.otf);
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: "p22Underground";
    font-size: 12px;
    line-height: 24px;
    text-transform: uppercase;
}


.background {
    width: 100%;
    min-height: 100vh;
    background-color: #ffeae3;

}

.wrapper {
    width: 100%;
    max-width: 800px;
    padding: 32px 16px;
    margin: 0 auto;
}

.link-wrap {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: 100;
}

/* Block Logo ------------------------------------------*/

.logo {
    height: 20vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo > div {
    width: 70%;
    height: 40px;
    background-image: url(img/logo.svg);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}



/* Block Menu ------------------------------------------*/

.menu > ul {
    list-style: none;
    display: flex;
    gap: 8px;
}

.menu > ul > li {
    width: 100%;
}

.menu > ul > li:hover > div > div {
    background-color: rgba(255,255,255,1);
}

.menu > ul > li > div {
    position: relative;
    padding-top: 100%;
}

.menu > ul> li > div > div {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 4px;
    background-color: rgba(255,255,255,.7);
    border-radius: 16px;
    box-shadow: 0 4px 4px rgba(0,0,0,.1);
    overflow: hidden;

    display: flex;
    flex-direction: column;

    transition: .3s;
}

.menu > ul > li > div > div > div {
    height: 100%;
    flex: 1;
    background-image: url(img/face.svg);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}

.menu > ul > li:nth-child(2) > div > div > div {
    background-image: url(img/body.svg);
}

.menu > ul > li:nth-child(3) > div > div > div {
    background-image: url(img/hair.svg);
}

.menu > ul > li:nth-child(4) > div > div > div {
    background-image: url(img/eye.svg);
}

.menu > ul > li span {
    font-size: 10px;
    line-height: 16px;
    text-align: center;
}

/* Block Banners ------------------------------------------*/

.banners-item {
    display: flex;
    align-items: flex-end;
    background-color: rgba(255,255,255,.7);
    border-radius: 16px;
    box-shadow: 0 4px 4px rgba(0,0,0,.1);
    margin-top: 16px;
    padding: 16px;
    overflow: hidden;
    position: relative;
    transition: .3s;
}

.banners-item.dark {
    background: #333;
}

.banners-item.img {
    height: 200px;
    background-image: url(img/babor.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: left;
}

.banners-item:not(.dark):hover {
    background-color: rgba(255,255,255,1);
}

.banners-item:not(.dark):hover span + div {
    background: #000;
    color: #fff;   
}

.banners-item.dark:hover span + div {
    background: #fff;
    color: #000;   
}

.banners-item > .icon {
    width: 80px;
    height: 80px;
    margin-right: 16px;
    background-repeat: no-repeat;
    background-size: contain;
}

.banners-item:nth-child(2) > .icon {
    background-image: url(img/nabor.svg);
}

.banners-item:nth-child(3) > .icon {
    background-image: url(img/gift.svg);
}

.banners-item:nth-child(4) > .icon {
    background-image: url(img/rose.svg);
}

.banners-item > .icon + div {
    flex: 1;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.banners-item span {
    flex: 1;

    font-size: 18px;
    line-height: 24px;
    text-align: right;
    padding: 12px 0 18px 0;
    vertical-align: bottom;
}

.banners-item.img span {
    padding-top: 50px;
}

.banners-item.dark span {
    color: #fff;
}

.banners-item span + div {
    font-size: 12px;
    line-height: 16px;
    padding: 12px 24px 8px 24px;
    width: max-content;
    border: 1px solid #000;
    border-radius: 4px;
    transition: .3s;
}

.banners-item.dark span + div {
    color: #fff;
    border: 1px solid #fff;
}

/* 400px ------------------------------------------*/

@media (min-width: 400px) {

    .menu > ul > li span {
        font-size: 12px;
        line-height: 24px;
    }

}

/* 500px ------------------------------------------*/

@media (min-width: 500px) {

    .menu > ul > li > div {
        padding-top: 120px;
    }

    .menu > ul> li > div > div {
        padding: 4px;
    }

}

@media (min-width: 600px) {

    .menu > ul {
        gap: 16px;
    }



    .banners {
        display: flex;
        flex-wrap: wrap;
        gap: 0 16px;
    }

    .banners-item {
        width: calc((100% - 16px) / 2);
    }
}